main {
  width: 100%;
  padding: 40px 0;
  height: 100%;
  min-height: 100vh;
  background-color: rgb(246, 244, 244);
  .main {
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    &__left {
      background-color: #fff;
      flex-basis: 790px;
      height: auto;
      padding: 34px;
      border: solid 1px #d9d9d9;
      border-radius: 8px;
      &-alarm {
        position: fixed;
        left: 13%;
        width: 80px;
        height: 80px;
        color: #fff;
        background-color: #3a4bcd;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        svg {
          display: block;
          fill: #fff;
          margin-bottom: 5px;
        }
        &:hover {
          background-color: #1f31b4;
        }
        animation: upAndDown 0.5s ease-in-out 0s infinite;
      }
      &-title {
        h2 {
          font-family: "Nunito", sans-serif;
          font-size: 22px;
          line-height: 1.1;
          font-weight: 700;
        }
        p {
          font-family: "Nunito", sans-serif;
          font-size: 14px;
          line-height: 1.1;
          font-weight: 400;
          color: #0c0c0c;
        }
      }
      &-desc {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 22px;
        padding: 26px;
        min-height: 69px;
        border-radius: 8px;
        background-color: #ececec;
        span {
          i {
            margin-right: 5px;
          }
          font: normal 14px/1.2 "Nunito", sans-serif;
          color: #3a3a3a;
          font-size: 15px;
        }
      }
      &-content {
        .exam {
          border-bottom: 1px solid #d9d9d9;
          padding-bottom: 22px;
          margin-top: 24px;
          height: auto;
          font-family: "Nunito", sans-serif;
          font-size: 20px;
          h4 {
            line-height: 22px;
            font-weight: 700;
          }
          p {
            line-height: 22px;
            font-weight: 400;
            margin: 8px 0;
          }
          li {
            font-size: 16px;
            line-height: 22px;
            font-weight: 400;
          }
          &__pagination {
            display: flex;
            justify-content: flex-end;
            margin-top: 30px;
            &-prev,
            &-next,
            &-submit {
              width: 50px;
              border-radius: 100%;
            }
            &-submit {
              width: 180px;
              border-radius: 5px;
              background-color: rgb(6, 167, 14);
              &:hover {
                background-color: rgb(11, 119, 16);
              }
            }
            &-next {
              background-color: #3a4bcd;
              &:hover {
                background-color: #1f31b4;
              }
            }
          }
          &__result {
            display: block;
            margin: 20px 0;
            border: solid 1px #d9d9d9;
            border-radius: 5px;
            padding: 10px;
            line-height: 24px;
            font-weight: 400;

            input {
              margin: 5px;
            }
          }
          &__footer {
            display: flex;
            justify-content: flex-end;
            padding: 0 30px;
            padding-top: 34px;
          }
        }
      }
    }
    &__right {
      flex-basis: 300px;
      .empty {
        width: 100%;
        height: 50px;
        background-color: #cfcfe9;
      }
      .cart__group {
        margin-top: 10px;
        border: 1px solid #d9d9d9;
        border-radius: 5px;
        &-header {
          height: auto;
          min-height: 43px;
          background: #3a4bcd;
          padding: 10px 0 7px;
          h2 {
            text-align: center;
            font-family: "Nunito", sans-serif;
            font-size: 20px;
            line-height: 27px;
            font-weight: 700;
            color: #fff;
          }
        }
        &-body {
          .cart__group-item {
            &-title {
              display: flex;
              justify-content: space-between;
              padding: 15px;
              li {
                font-family: "Nunito", sans-serif;
                font-size: 11px;
                line-height: 1.36;
                font-weight: 700;
                color: #0c0c0c;
                text-align: left;
                flex-basis: 20%;
              }
              li:first-child {
                flex-basis: 60%;
              }
            }
            &-rank {
              display: flex;
              justify-content: space-between;
              padding: 15px;
              li {
                flex-basis: 20%;
                font-family: "Nunito", sans-serif;
                font-size: 11px;
                text-align: left;
                line-height: 1.36;
                font-weight: 400;
                color: #0c0c0c;
                border-bottom: 1px dotted #d9d9d9;
              }
              li:first-child {
                flex-basis: 60%;
                font-family: "Nunito", sans-serif;
                font-size: 12px;
                line-height: 1.33;
                font-weight: 700;
                padding-left: 25px;
                padding-bottom: 10px;
              }
            }
            &:nth-child(2) {
              li:first-child {
                background-image: url(../Image//gold.png);
                background-repeat: no-repeat;
              }
            }
            &:nth-child(3) {
              li:first-child {
                background-image: url(../Image//silver.png);
                background-repeat: no-repeat;
              }
            }
            &:nth-child(4) {
              li:first-child {
                background-image: url(../Image//bronze.png);
                background-repeat: no-repeat;
              }
            }
          }
        }
        &-footer {
          width: 100%;
          padding-bottom: 15px;
          button {
            display: block;
            margin: 0 auto;
            padding: 0 26px;
            height: 33px;
            border: none;
            border-radius: 5px;

            font-family: "Nunito", sans-serif;
            font-size: 13px;
            line-height: 31px;
            font-weight: 700;
            color: #535353;
            background: #f1f1f1;
            cursor: pointer;
            &:hover {
              background: #ffb83c;
              color: #fff;
            }
          }
        }
      }
      .try-it-now {
        width: 100%;
        text-align: center;
        margin: 25px 0;
        p {
          font-family: "Nunito", sans-serif;
          font-size: 14px;
          line-height: 1.1;
          font-weight: 400;
          color: red;
        }
        .yes-btn {
          display: block;
          width: 100%;
          margin: 10px 0;
          padding: 20px 0;
          text-align: center;
          font-size: 13px;
          font-weight: 700;
          color: #fff;
          background-color: #ffb83c;
          border-radius: 5px;
          &:hover {
            color: #3a4bcd;
          }
        }
        .facebook-btn {
          display: block;
          width: 100%;
          margin: 10px 0;
          padding: 20px 0;
          text-align: center;
          font-size: 13px;
          font-weight: 700;
          color: #fff;
          background-color: #375aab;
          border-radius: 5px;
        }
      }
    }
  }
}

@keyframes upAndDown {
  0% {
    top: 116px;
    background-color: red;
  }
  50% {
    top: 120px;
    background-color: rgb(34, 240, 6);
  }
  100% {
    top: 116px;
    background-color: rgb(24, 9, 241);
  }
}
